* {
  font-family: 'Helvetica', sans-serif;
}


body {
  margin: auto;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(3, 104px);
  grid-gap: 8px;
  justify-items: center;
  margin: 64px 0 32px;
}

.button-pad {
  height: 104px;
  width: 104px;
}

.player-container {
  margin: 0 0 24px;
}

#current-player {
  font-size: 18px;
  font-weight: bolder;
}